*.swp
**/*.o

**/*.autosave
**/.qmake.stash

console/build-DebugConsole*
console/DebugConsole/DebugConsole

console/DebugConsole/moc_*.cpp
console/DebugConsole/moc_*.h
console/DebugConsole/ui_*.h
console/DebugConsole/*.pro.user*

console/pkg/arch/pkg
console/pkg/arch/src
console/pkg/arch/*.pkg.tar.xz
console/pkg/arch/GUSBaspDebugConsole/

